{% extends "base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{ project.name }}</h1>
    <div>
        <h3>Last seen at: {{ project.log_set.first.created_at }}</h3>
        <div id="chart_last_seen"></div>
    </div>
    <div>
        <h3>Last Few Days</h3>
        <div id="chart_history"></div>
    </div>
</div>
{% endblock content %}

{% block endbody %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawLastSeenChart);
google.charts.setOnLoadCallback(drawHistoryChart);

function drawLastSeenChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('datetime', 'TIME');
  data.addColumn('number', 'UP');

  data.addRows([
    {% for log in project.log_set.from_today %}
        [(new Date("{{ log.created_at.isoformat }}")), {% if log.is_up %}1{% else %}null{% endif %}],
    {% endfor %}
  ]);

  var options = {
    hAxis: {
      title: 'Time'
    },
    vAxis: {
      title: 'State'
    },
    colors: ['#097138', '#a52714']
  };

  var chart = new google.visualization.LineChart(document.getElementById('chart_last_seen'));
  chart.draw(data, options);
}

function drawHistoryChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('date', 'DATE');
  data.addColumn('number', 'MINUTES');

  data.addRows([
    {% for date, duration in project.get_history.items %}
      [(new Date("{{ date }}")), {{ duration }}/60],
    {% endfor %}
  ]);

  var options = {
    hAxis: {
      title: 'Date'
    },
    vAxis: {
      title: 'Downtime in Minutes'
    },
    colors: ['#097138', '#a52714']
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_history'));
  chart.draw(data, options);
}
</script>
{% endblock endbody %}
